@import "compass/css3/box-shadow";

$size: 40px;

html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

html, body {
  margin: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  color: rgba(255,255,255,0.1);
  font-weight: 900;
}

.tile {
  line-height: $size;
  font-size: $size;

  width: $size;
  height: $size;
  background-color: lightgray;
  float: left;
  text-align: center;

//  @include box-shadow(rgba(0,0,0,0.5) 0 0 12px inset);

  @for $i from 1 through 6 {
    &.status-#{$i} { background-color: darken(#9be, 14 * $i); }
  }
}

.row {
  clear: both;
}
