/* line 5, triumph.scss */
html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* line 10, triumph.scss */
html, body {
  margin: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.1);
  font-weight: 900;
}

/* line 18, triumph.scss */
.tile {
  line-height: 40px;
  font-size: 40px;
  width: 40px;
  height: 40px;
  background-color: lightgray;
  float: left;
  text-align: center;
}
/* line 31, triumph.scss */
.tile.status-1 {
  background-color: #5c92e4;
}
/* line 31, triumph.scss */
.tile.status-2 {
  background-color: #236ad5;
}
/* line 31, triumph.scss */
.tile.status-3 {
  background-color: #194c98;
}
/* line 31, triumph.scss */
.tile.status-4 {
  background-color: #0f2d5a;
}
/* line 31, triumph.scss */
.tile.status-5 {
  background-color: #050f1d;
}
/* line 31, triumph.scss */
.tile.status-6 {
  background-color: black;
}

/* line 35, triumph.scss */
.row {
  clear: both;
}
