$size: 50px;

.tile {
  width: $size;
  height: $size;
  background-color: lightgray;
//  border: 1px solid grey;
  float: left;
  text-align: center;

  color: transparent;

  &.status-1 { background-color: #DDEEFF; }
  &.status-2 { background-color: #CCDDEE; }
  &.status-3 { background-color: #BBCCDD; }
  &.status-4 { background-color: #AABBCC; }
  &.status-5 { background-color: #99AABB; }
  &.status-6 { background-color: #8899AA; }
  &.status-7 { background-color: #778899; }
  &.status-8 { background-color: #667788; }
  &.status-9 { background-color: #556677; }
}

.row {
  clear: both;
}
